<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<header>
		<img src="images/zombie.png"/>
		<h1>Tic Tac Toe</h1>
	</header>


		<div class="bots">
			<div class="left">
				<h2>Player</h2>
				<form method="post" action="pvp">
					<input type="submit" value="PvP">
				</form>
				<form method="post" action="rand">
					<input type="submit" value="Random">
				</form>
				<form method="post" action="seq">
					<input type="submit" value="Sequential">
				</form>
				<form method="post" action="play">
					<input type="submit" value="Unbeatable">
				</form><br>
			</div>
			<div class=right>
				<h2>Computer</h2>
				<form method="post" action="comp3">
					<input type="submit" value="Random">
				</form>
				<form method="post" action="comp2">
					<input type="submit" value="Sequential">
				</form>
				<form method="post" action="comp1">
					<input type="submit" value="Unbeatable">
				</form>
		</div>
		</div>
		
		
	
</body>
</html>