<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<header>
		<img src="images/zombie.png"/>
		<h1>Tic Tac Toe</h1>
	</header>

	<div id="fb-root"></div>
			
			<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true"></div>

		<div class="bots">
			<div class="left">
				<h2>Player Vs Comp</h2>
				<form method="post" action="pvp">
					<input type="submit" value="PvP">
				</form>
				<form method="post" action="rand">
					<input type="submit" value="Random">
				</form>
				<form method="post" action="seq">
					<input type="submit" value="Sequential">
				</form>
				<form method="post" action="play">
					<input type="submit" value="Unbeatable">
				</form><br>
			</div>
			<div class=right>
				<h2>Comp Vs Comp</h2>
				<form method="post" action="comp3">
					<input type="submit" value="Random">
				</form>
				<form method="post" action="comp2">
					<input type="submit" value="Sequential">
				</form>
				<form method="post" action="comp1">
					<input type="submit" value="Unbeatable">
				</form>
		</div>
		</div>
		
		
	<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=2201918923363637&autoLogAppEvents=1';
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>