<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<header>
		<img src="images/zombie.png"/>
		<h1>Tic Tac Toe</h1>
	</header>

	<div class="wrap">
		<div class="wrap1">
		</div>

		<form method="post" action="seq">
			<input type="submit" value="Sequential">
		</form>
		<form method="post" action="play">
			<input type="submit" value="Unbeatable">
		</form>

		<div class="wrap3">
			<h1>Player2</h1>
		</div>
	</div>
</body>
</html>