body {
	font-family: 'Quicksand';
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background-color: #000;
}

.wrap {
	margin: 40px auto 0 auto;
	width: 1200px;
	display: flex;
	
}

header {
	text-align: center;
}

header h1 {
	color: #fff;
	font-weight: bold;
	animation: fade-in 4s;
}

header img {
	height: 250px;
	width: 700px;
	animation: fade 1.5s;
}

@keyframes fade {
	from {
		width: 0;
	}
	to {
		width: 700px;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.wrap1 {
	flex: 1;
	text-align: center;
}

.wrap2 {
	flex: 9;
}

.wrap3 {
	flex: 1;
	text-align: center;
}

h1 {
	color: red;
}

table {
	box-sizing: border-box;
	line-height: 130px;
	border-collapse: collapse;
}

table, tr, td{
	border: 3px solid #fff;
	border-top: none;
	border-left: none;
	margin: 40px auto 0 auto;
	width: 50%;
}

tr {
	width: 100%;
	height: 33%;
}

td {
	width: 33%;
	height: 33%;
	text-align: center;
}

td:first-of-type {
	border-left-color: transparent;
}

td:nth-of-type(3) {
	border-right-color: transparent;	
}

tr:nth-of-type(3) td{
	border-bottom-color: transparent;
}



button {
	background: transparent;
	outline: none;
	border: none;
	width: 100%;
	height: 100px;
	font-size: 4rem;
	text-align: center;
}

button img {
	margin: 0;
	padding: 0;
	height: 70%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 2px;
}

.bots {
	margin: 30px auto 0 auto;
	width: 500px;
	text-align: center;
	font-weight: lighter;
}

.bots h2 {
	color: #fff;
	margin-top: 0;
	font-weight: lighter;	
	animation: drop-out 2s;
}

@keyframes drop {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 2rem;
	}
}

@keyframes drop-out {
	from {
		opacity: 0;
		left: 0;
	}
	to {
		opacity: 1;
		left: 50%;
	}
}


.bots input{
	width: 10rem;
	height: 2rem;
	outline: none;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	border-radius: 5px;
	background: transparent;
	color: white;
	text-align: center;
	animation: drop 2s;
}

.bots input:hover {
	background-color: #fff;
	color: #000;
}

.left {
	float: left;
}

.right {
	float: right;
}

.fb-login-button {
	margin-left: 43.4%;
  }